.sign-in {
	display: grid;
	height: calc(100vh - 55px); /* This is the calculation of the height */
	width: inherit;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.sign-in_form {
	display: grid;
	grid-area: 2/3/6/7;
	border: 1px solid black;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.sign-in_input {
	display: grid;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	height: 50px;
	width: 300px;
	justify-self: center;
	align-self: center;
	padding: 0 0 0 5px;
	font-family: 'Josefin Sans', sans-serif;
}

.sign-in_input:nth-child(1) {
	grid-area: 2/2/3/4;
}

.sign-in_input:nth-child(2) {
	grid-area: 3/2/4/4;
}

.sign-in_input:focus {
	border: 1px solid black;
	border-radius: 5px;
}

.sign-in_button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	border-radius: 10px;
	border: none;
	background-color: #0b397a;
	color: white;
	grid-area: 4/2/4/4;
	width: 150px;
	height: 50px;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}

.sign-in_button:hover {
	background-color: #082f66;
	transition: 0.2s;
}