.sign-in {
	display: grid;
	height: calc(100vh - 55px); /* This is the calculation of the height */
	width: inherit;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.sign-in_form {
	display: grid;
	grid-area: 2/3/6/7;
	border: 1px solid black;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.sign-in_input {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	height: 50px;
}

.sign-in_input:nth-child(1) {
	background-color: gray;
}

.sign-in_input:nth-child(2) {
	background-color: grey;
}

.sign-in_input:focus {
	border: 1px solid black;
	border-radius: 10px;
}